TP 1 ERRORES

In [3]:
import pandas as pd
import numpy as np
import json
import ast
import gzip

In [ ]:
# NO FUNCIONA N SE POR QUE
# Abrir el archivo JSON
with open(r"D:\Users\Natalia\Desktop\steam_games.json\output_steam_games.json") as archivo:
    output_steam_games = json.load(archivo)

# 'datos' contendrá ahora la estructura de datos del archivo JSON
# Puedes acceder a los datos como lo harías con un diccionario de Python
print(output_steam_games)  # Esto mostrará el contenido del archivo JSON

In [4]:
dtypes = {'año': str, 'id':object}
df_games = pd.read_csv(r'D:\Users\Natalia\Desktop\csv_limpios\df_games.csv', dtype=dtypes)

In [31]:
#df_games = pd.read_csv(r'D:\Users\Natalia\Desktop\csv_limpios\df_games.csv')

In [6]:
df_items = pd.read_csv(r'D:\Users\Natalia\Desktop\csv_limpios\df_items.csv')

In [5]:
dtypes = {'año_publicado': str}  # Cambiar 'str' al tipo de dato deseado, por ejemplo 'object'

# Cargar el archivo CSV con los tipos de datos especificados
df_review = pd.read_csv(r'D:\Users\Natalia\Desktop\csv_limpios\df_reviews.csv', dtype=dtypes)

In [9]:
df_items.head()

             user_id  item_id                  item_name  playtime_forever
0  76561197970982479       10             Counter-Strike               6.0
1  76561197970982479       20      Team Fortress Classic               0.0
2  76561197970982479       30              Day of Defeat               7.0
3  76561197970982479       40         Deathmatch Classic               0.0
4  76561197970982479       50  Half-Life: Opposing Force               0.0

In [37]:
df_games.head()

,app_name,id,año,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,Lost Summoner Kitty,761140,2018,0,1,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
1,Ironbound,643980,2018,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,Real Pool 3D - Poolians,670290,2017,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
3,弹炸人2222,767400,2017,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Log Challenge,773570,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32133 entries, 0 to 32132
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   app_name                   32133 non-null  object
 1   id                         32132 non-null  float64
 2   año                        29782 non-null  object
 3   Accounting                 32133 non-null  int64
 4   Action                     32133 non-null  int64
 5   Adventure                  32133 non-null  int64
 6   Animation &amp; Modeling   32133 non-null  int64
 7   Audio Production           32133 non-null  int64
 8   Casual                     32133 non-null  int64
 9   Design &amp; Illustration  32133 non-null  int64
 10  Early Access               32133 non-null  int64
 11  Education                  32133 non-null  int64
 12  Free to Play               32133 non-null  int64
 13  Indie                      32133 non-null  int64
 14  Massively Multiplayer      32133 non-null  int64
 15  Photo Editing              32133 non-null  int64
 16  RPG                        32133 non-null  int64
 17  Racing                     32133 non-null  int64
 18  Simulation                 32133 non-null  int64
 19  Software Training          32133 non-null  int64
 20  Sports                     32133 non-null  int64
 21  Strategy                   32133 non-null  int64
 22  Utilities                  32133 non-null  int64
 23  Video Production           32133 non-null  int64
 24  Web Publishing             32133 non-null  int64
dtypes: float64(1), int64(22), object(2)
memory usage: 6.1+ MB

In [14]:
df_review.head()

             user_id  item_id  recommend  sentiment_analysis año_publicado
0  76561197970982479     1250       True                   2          2011
1  76561197970982479    22200       True                   2          2011
2  76561197970982479    43110       True                   2          2011
3            js41637   251610       True                   2          2014
4            js41637   227300       True                   0          2013

In [12]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   item_id             59305 non-null  int64
 2   recommend           59305 non-null  bool
 3   sentiment_analysis  59305 non-null  int64
 4   año_publicado       49186 non-null  float64
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 1.9+ MB

FUNCIONES

In [5]:
def PlayTimeGenre(genero: str, df_games: pd.DataFrame, df_items: pd.DataFrame):
    # Verificar si el género está presente como una columna en df_games
    if genero not in df_games.columns:
        return f"No se encontró información para el género {genero}"

    # Filtrar el DataFrame de juegos para obtener los juegos que pertenecen al género específico
    juegos_genero = df_games[df_games[genero] == 1]

    if juegos_genero.empty:
        return f"No se encontró información para el género {genero}"

    # Obtener los nombres de los juegos para el género específico
    nombres_juegos_genero = juegos_genero['app_name']

    # Filtrar el DataFrame de horas jugadas para obtener las horas correspondientes a esos nombres de juegos
    horas_jugadas_genero = df_items[df_items['item_name'].isin(nombres_juegos_genero)]

    # Convertir la columna 'id' a int64 si es posible
    df_games['id'] = pd.to_numeric(df_games['id'], errors='coerce')

    # Fusionar los DataFrames después de convertir las columnas al mismo tipo
    horas_jugadas_genero = horas_jugadas_genero.merge(df_games[['id', 'año']], left_on='item_id', right_on='id')

    # Encontrar el año con más horas jugadas para el género específico
    año_mas_horas = horas_jugadas_genero.groupby('año')['playtime_forever'].sum().idxmax()

    return {f"Año de lanzamiento con más horas jugadas para el género {genero}": año_mas_horas}

In [6]:
resultado = PlayTimeGenre('Action', df_games, df_items)
print(resultado)

{'Año de lanzamiento con más horas jugadas para el género Action': '2012'}

In [2]:
''''
def UserForGenre(genero: str, df_games: pd.DataFrame, df_items: pd.DataFrame):
    # Verificar si el género está presente como una columna en df_games
    if genero not in df_games.columns:
        return f"No se encontró información para el género {genero}"

    # Filtrar el DataFrame de juegos para obtener los juegos que pertenecen al género específico
    juegos_genero = df_games[df_games[genero] == 1]

    if juegos_genero.empty:
        return f"No se encontró información para el género {genero}"

    # Obtener los nombres de los juegos para el género específico
    nombres_juegos_genero = juegos_genero['app_name']

    # Filtrar el DataFrame de horas jugadas para obtener las horas correspondientes a esos nombres de juegos
    horas_jugadas_genero = df_items[df_items['item_name'].isin(nombres_juegos_genero)]

    # Convertir la columna 'id' a int64 si es posible
    df_games['id'] = pd.to_numeric(df_games['id'], errors='coerce')

    # Fusionar los DataFrames después de convertir las columnas al mismo tipo
    horas_jugadas_genero = horas_jugadas_genero.merge(df_games[['id', 'año']], left_on='item_id', right_on='id')

    # Encontrar el usuario con más horas jugadas para el género específico
    user_mas_horas = horas_jugadas_genero.groupby('user_id')['playtime_forever'].sum().idxmax()

    # Crear un diccionario para almacenar las horas jugadas por año del usuario con más horas jugadas para ese género
    horas_por_año = {}
    for año, group in horas_jugadas_genero.groupby('año'):
        horas_por_año[año] = group[group['user_id'] == user_mas_horas]['playtime_forever'].sum()

    return user_mas_horas, horas_por_año
'''

<>:38: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:38: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\Usuario\AppData\Local\Temp\ipykernel_10444\229827958.py:38: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  return ("jugador con más horas jugadas para el género por año {genero}" (user_mas_horas), (user_mas_horas_año))

NameError: name 'pd' is not defined

In [ ]:
""""
    import pandas as pd

def UserForGenre(genero: str, df_games: pd.DataFrame, df_items: pd.DataFrame):
    # Filtrar juegos por género
    juegos_genero = df_games[df_games[genero] == 1]
    if juegos_genero.empty:
        return f"No se encontró información para el género {genero}"

    # Obtener nombres de juegos y filtrar horas jugadas por género
    nombres_juegos_genero = juegos_genero['app_name']
    horas_jugadas_genero = df_items[df_items['item_name'].isin(nombres_juegos_genero)]

    # Fusionar DataFrames y encontrar usuario con más horas jugadas
    merged_data = horas_jugadas_genero.merge(df_games[['id', 'año']], left_on='item_id', right_on='id')
    user_mas_horas = merged_data.groupby('user_id')['playtime_forever'].sum().idxmax()

    # Calcular horas jugadas por año del usuario
    horas_por_año = merged_data[merged_data['user_id'] == user_mas_horas].groupby('año')['playtime_forever'].sum().to_dict()

    return user_mas_horas, horas_por_año
"""

In [8]:
resultado2 = UserForGenre('Action', df_games, df_items)
print(resultado2)

In [ ]:
"""""
import pandas as pd

# Suponiendo que tienes un DataFrame llamado 'reviews' con la columna 'year' y 'sentimiento'

def sentiment_analysis(año: int, reviews: pd.DataFrame):
    # Filtrar las reviews para el año dado
    reviews_year = reviews[reviews['year'] == año]

    # Contar la cantidad de registros por cada categoría de sentimiento para el año dado
    sentiment_counts = reviews_year['sentimiento'].replace({0: 'Negative', 1: 'Neutral', 2: 'Positive'}).value_counts()

    # Crear el diccionario con la cantidad de registros por categoría de sentimiento
    result = {sentiment: sentiment_counts.get(sentiment, 0) for sentiment in ['Negative', 'Neutral', 'Positive']}
    return result
"""

In [ ]:
"""""
import pandas as pd

# Suponiendo que tienes un DataFrame llamado 'reviews' con las columnas 'game_name', 'recommend', y 'positive_neutral_comments'

def UsersRecommend(año: int, reviews: pd.DataFrame):
    # Filtrar las reviews para el año dado y que sean recomendadas y comentarios positivos/neutrales
    filtered_reviews = reviews[(reviews['year'] == año) & (reviews['recommend'] == True) & (reviews['positive_neutral_comments'] == True)]

    # Contar la cantidad de recomendaciones por juego y obtener el top 3
    top_games = filtered_reviews['game_name'].value_counts().head(3)

    # Crear la estructura de retorno con el top 3 de juegos más recomendados
    result = [{"Puesto " + str(i + 1): juego} for i, juego in enumerate(top_games.index)]
    return result
"""""

USER ITEMS

In [ ]:
data = []

# Abre el archivo JSON en modo lectura
#with open("D:\\Users\\Natalia\\Desktop\\steam_games.json\\australian_users_items.json", "r", encoding="utf-8") as archivo:
 #   for linea in archivo:
        # Lee cada línea del archivo como una cadena JSON
  #      linea_json = ast.literal_eval(linea.strip())
        
        # Agrega el diccionario JSON a la lista
    #    data.append(linea_json)

# Crea el DataFrame directamente desde la lista de diccionarios
#df_items_ = pd.DataFrame(data)